$primary-color: #005dff;
$secondary-color: #474747;
$primary-font: 'Lato';
$primary-text: 30px;

body {
    background-color: $secondary-color;
    color: $primary-color;
    font-family: $primary-font;
    font-size: $primary-text;
}